@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes banner {
    0% {transform: translateX(-1000px);}
    100% {transform: translateX(0);}
}

@keyframes banner1 {
    0% {transform: translateX(1000px);}
    100% {transform: translateX(0);}
}

a {
    color: #000000;
    text-decoration: none;
    text-align: justify;
}

html {
    background: #FFF;
    min-height: 100%;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: auto;
    background: url(img/body_fon.jpg);
    z-index: 1;
}

h1 {
    margin-top: 0;
    margin-left: 10px;
}


.datetime {
    margin-left: 10px;
    font-size: 30px;
}

.gay {
    font-size: 50px;
}

h1, p {
    color: #006064;
}

img {
    border: 0;
}

.header {
    width: 100%;
    min-width: 460px;
    max-width: 960px;
    margin: 0 auto 30px;
    padding: 30px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: none;
    align-items: center;
    background: #839FFF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(img/logo.ico);
    transition: .5s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.logo:hover {
    transform: rotate(720deg);
}

.translate {
    background: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.nav {
    margin: -5px 0 0 -5px;
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 25px 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.nav-item:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.sqr {
    height: 317px;
    width: 316px;
    margin: 10px 10px;
    background-image: url("img/sqr.png");
    transition: .5s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.sqr:hover {
    transform: scale(0.9);
}

.wrapper {
    width: 100%;
    min-width: 460px;
    max-width: 960px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
    z-index: 2;
    background: url(img/background.png);
}

.box {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 0 40px -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-base {
    margin-left: 50px;
    flex: 1 0 430px;
}

.box-side {
    margin-left: 50px;
    font: none;
}

.box-img {
    max-width: 100%;
    height: auto;
}

.content {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.banners {
    flex: 1 1 200px;
}

.banner {
    background-image: url("img/banner.png");
    width: 412px;
    height: 214px;
    font-size: 3rem;
    color: #fff;
    margin: 20px 0 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: banner;
}

.banner1 {
    background-image: url("img/banner.png");
    width: 412px;
    height: 214px;
    font-size: 3rem;
    color: #fff;
    margin: 20px 0 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: banner1;
}

.banner2 {
    background-image: url("img/banner.png");
    width: 412px;
    height: 214px;
    font-size: 3rem;
    color: #fff;
    margin: 20px 0 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: banner;
}

table {
    border-collapse: collapse;
    border: #a0a0a0;
}

.post {
    padding-top: 40px;
    padding-right: 10px;
}

.posts {
    margin: 0 0 30px 30px;
    flex: 1 1 200px;
}

.text {
    margin-bottom: 50px;
    margin-left: 50px;
}

.download {
    margin-bottom: 100px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    width: 100%;
    max-width: 960px;
    min-width: 460px;
    color: #000000;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

@media screen and  (max-width: 800px) {
    .banners{
        margin-left: -30px;
        display: flex;
        flex-basis: 100%;
    }
    .banner{
        margin-left: 30px;
    }
    .posts{
        margin-left: 0;
    }
}

@media screen and  (max-width: 600px) {
    .content{
        display: block;
    }
    .banners{
        margin: 0;
        display: block;
    }
    .banner{
        margin-left: 0;
    }
    .posts{
        margin: 0;
    }
}